body {
    font-size: 1.2rem;
    background-color: #b9f1ea;
}

.bi-linkedin {
    font-size: 3rem;
    color: #2a67bc;
}

.bi-linkedin:active {
    color: #333333;
}

#nav {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    height: 6rem;
}

.nav-link:active {
    background-color: #333333;
}

.nav-link:hover {
    color: #80dbd0;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
}

ul.navbar-nav {
    display: flex;
    flex-flow: row wrap;
}

#main-card {
    margin: 12rem auto 3rem;
    padding: 3rem;
    width: 27rem;
    height: 31rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}

#name {
    font-size: 2.5rem;
    font-family: "Trebuchet MS", Tahoma, sans-serif;
}

#download {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    color: black;
    background-color: #80dbd0;
}

#download:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    background-color: #b9f1ea;
}

#download:active {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    background-color: #333333;
    color: #80dbd0;
}

.arrow {
    font-size: 2rem;
    position: relative;
    animation-name: jumping-block;
    animation-duration: 1s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}


@keyframes jumping-block {
    0% {
        top: 0;
    }
    50% {
        top: 5px;
    }
    100% {
        top: 0;
    }
}

#education {
    padding: 50px 15px 20px 15px;
    text-align: center;
}

#education h2 {
    color: #374054;
    margin-bottom: 50px
}

.education-block {
    border-radius: 5px;
    max-width: 50rem;
    margin: 0 auto 30px auto;
    padding: 15px;
    border: 1px solid #dcd9d9;
    text-align: left;
    background-color: white;
}

.education-block h3 {
    font-weight: 500;
    float: left;
    color: #374054
}

.education-block span {
    color: #74808a;
    float: right;
}

.education-block h4 {
    color: #74808a;
    clear: both;
    font-weight: 500;
}

.education-block p, .education-block ul {
    color: #74808a;
    font-size: 0.9em
}

#skills ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 50rem;
}

#skills li {
    display: inline-block;
    position: relative;
    margin: 7px;
    padding: 5px 10px;
    background: white;
    list-style: none;
    cursor: default;
    font-size: 1.2em;
    border-radius: 5px;
}

#skills li:hover {
    color: #80dbd0;
    animation-name: move-up;
    animation-duration: 1s;
}

@keyframes move-up {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 5px;
    }
    100% {
        bottom: 0;
    }
}

#accordionPanelsStayOpen {
    margin-right: auto;
    margin-left: auto;
    max-width: 50rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
    border-radius: 5px;
    text-align: left;
}

.accordion-button {
    z-index: 0 !important;
}

.accordion-collapse {
    overflow: hidden;
}

.accordion-button:hover {
    color: #80dbd0;
}

.project-image {
    float: left;
    height: 300px;
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

footer {
    margin-top: 50px;
    margin-bottom: 0;
    padding: 12px;
    background-color: white;
    min-height: 16vh;
    color: #6c757d;
}

/* Mobile Screen Adjust */
@media screen and (max-width: 600px) {
    #main-card {
        margin-bottom: 7%;
        margin-top: 40%;
        width: 100%;
        height: 50%;
    }

    ul.navbar-nav {
        display: none;
    }

    img.project-image {
        width: 100%;
        height: auto;
    }

    video.project-vid {
        height: auto;
    }

    footer {
        background-color: unset;
    }
}
